extends layout

block content
  //- h1= title
  h1 Welcome to #{title} 
  //- include nav.pug
  
  .bg-image.img4
  .bg-image.img5
  .bg-image.img6

  //- each pack in packages
  if blogpackage
    #textcontent2.bg-text2
      h1 #{blogpackage.PkgName}
      .big
        article.packages
          .package1
            img#caribbean(src='../images/caribbean.jpg' alt='Beach Bar in the Caribbean')
          .package-content
            p.package-tags
              span.package-tag #{blogpackage.PkgName}| 
              span.package-tag All Inclusive 
            //- h1.package-title #{pack.PkgName}
            p.package-metadata
              span.package-rating
                | &starf;&starf;&starf;&starf;
                span &star;
              span.package-votes (12 votes)
            p.package-desc #{blogpackage.PkgBasePrice} CAD
            p
              | Cruise the Caribbean &amp; Celebrate the New Year.
            
            p 
              | Package Start Date: #{blogpackage.PkgStartDate}
              | Package End Date: #{blogpackage.PkgEndDate}
            p 
              | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit odio quis nobis dolorum ipsa praesentium error, ullam quam eius! Quam perspiciatis vero magnam in nulla natus fuga sint earum id.
              | Quibusdam facilis veritatis vel! Culpa quo assumenda accusantium quas deserunt voluptatibus facilis voluptate, magni dolorum. Voluptatibus soluta numquam quis voluptatum libero eum excepturi eos necessitatibus veritatis consectetur, dignissimos doloremque? Incidunt!
              | Vel, exercitationem magni fuga explicabo natus ipsum, praesentium libero earum ratione reprehenderit id dolor, rerum harum expedita beatae repellendus culpa animi dicta optio ducimus aspernatur. Velit est magnam deleniti expedita?
    
            //- if user.role == "agent"
            //-   | Agency Commission: #{pack.PkgAgencyCommission} CAD
            p.card-text
            form(action='/package/buy' method='post')
              .row
                .col-sm-6
                  input.mx-3(name='quantity' type='number' min=1 value=1)
                  input(type='hidden' name="PackageId" value= blogpackage && blogpackage.PackageId)
                .col-sm-6
                  button.btn.btn-success.col-12(type='submit') Buy
                    img#cart(src='../images/shopping-cart.png')
                  
          p.card-text
            a.btn.btn-primary.col-12(href='/package/edit/'+ blogpackage.PackageId) Edit
          p.card-text
            a.btn.btn-danger.col-12(href='/package/delete/'+ blogpackage.PackageId) Delete




            

  a.btn.btn-primary.col-12(href='/') Home
  // Author: Cody Kozlik





            

            

