extends layout

block content
  h1= title
  if add
    h3 Add new Package
  else 
    h3 Edit Package
  form.row.g-3(method='POST' action="")
    //- .col-md-3
    //-   label.form-label(for='Package_Id') Package _id
    //-   input#Package_Id.form-control(type='text' name='_id' required value= pack && pack._id)
    .col-md-3
      label.form-label(for='PackageId') Package Id
      input#PackageId.form-control(type='text' name='PackageId' required value= pack && pack.PackageId)
    .col-md-3
      label.form-label(for='inputname') Name
      input#inputname.form-control(type='text' name='PkgName' required value= pack && pack.PkgName)
    .col-md-6
    .col-md-3
      label.form-label(for='inputprice') Price
      input#inputprice.form-control(type='number' placeholder='0.0' step="any" name='PkgBasePrice' required  value=pack && pack.PkgBasePrice)
    .col-md-3
      label.form-label(for='inputCommissionprice') Agency Commission Price
      input#inputCommissionprice.form-control(type='number' placeholder='0.0' step="any" name='PkgAgencyCommission' required  value=pack && pack.PkgAgencyCommission)
    .col-12
      label.form-label(for='inputdescription') Description
      textarea#inputdescription.form-control(type='text' placeholder='Day All Inclusive Vacation' name='PkgDesc' value=pack && pack.PkgDesc)
    .col-md-3
      label.form-label(for='inputstartdate') Start Date
      input#inputstartdate.form-control(type='date' placeholder='Start Date' name='PkgStartDate'  value=pack && pack.PkgStartDate)    
    .col-md-3
      label.form-label(for='inputenddate') End Date
      input#inputenddate.form-control(type='date' placeholder='End Date' name='PkgEndDate'  value=pack && pack.PkgEndDate)    
    .col-md-3
      label.form-label(for='inputimage') Image
      input#inputimage.form-control(type='text' placeholder='image' name='image'  value=pack && pack.image)
    .col-md-3
    .col-md-1
    .col-md-3
      button.btn.btn-primary.col-12.mt-4(type='submit') 
        if add
          | Add
        else 
          | Update
    .col-md-4
    .col-md-3
      a.btn.btn-primary.col-12.mt-4(href=add ? '/' : '/package/details/' + (pack && pack.PackageId)) Cancel
      //- a.btn.btn-primary.col-12.mt-4(href=add ? '/' : '/package') Cancel
      // Another way for doing the cancel button
        if add
          a.btn.btn-primary.col-12.mt-4(href= '/' ) Cancel
        else 
          a.btn.btn-primary.col-12.mt-4(href='/package/details/'+pack.PackageId) Cancel

  //- .container
  //-     if errors    
  //-       each error in errors
  //-           p.alert.alert-danger= error

