extends layout

block content
  h1 Travel Packages
  //- p Welcome to #{title} 
  //- include nav.pug
  
  .bg-image.img4
  .bg-image.img5
  .bg-image.img6
  .bg-image.img4
  .bg-image.img5
  .bg-image.img6
  
    //- each pack in packages
      //- | Package Name: #{pack.PkgName}
  
  each pack in packages
    #textcontent2.bg-text
      h1 #{pack.PkgName}
      .big
        article.packages
          .package1.d-flex.justify-content-center.text-center
            a(href="/package/details/" + pack.PackageId)
              img.card-img-top.mx-auto(src=pack.image alt='Beach Bar in the Caribbean' style=" max-height: 200px; max-width: 200px;").justify-content-center
          .package-content
            p.package-tags
              span.package-tag #{pack.PkgName}| 
              span.package-tag All Inclusive 
            //- h1.package-title #{pack.PkgName}
            p.package-metadata
              span.package-rating
                | &starf;&starf;&starf;&starf;
                span &star;
              span.package-votes (12 votes)
            p.package-desc #{pack.PkgBasePrice} CAD
            p
              | Cruise the Caribbean &amp; Celebrate the New Year.
            h4 
              a(href="/package/details/" + pack.PackageId).card-title Click for details
            //- if user.role == "agent"
            //-   | Agency Commission: #{pack.PkgAgencyCommission} CAD
            button.package-buy(type='button')
              a(href="/package/details/" + pack.PackageId)
                img#cart(src='/images/shopping-cart.png')
    h1.text-light _
  if currentUser && currentUser.role == "manager"
    a.btn.btn-primary.col-12(href='/package/add') ADD