extends layout

block content
    h1= title
        
    .container
        
            h2.btn-danger Are you sure you want to delete this "#{Package.PkgName}" purchase?
            .row.justify-content-sm-center
                    //- each purchase in purchases
                
                    .card.col-sm-6
                        img.card-img-top.mx-auto(src=Package.image style=" max-width:300px;")              
                    h5= Package.PkgName
                    h6
                        | Description: #{Package.PkgDesc}
                        //- | Start Date: #{purchase.PackageId.PkgStartDate}
                        //- | End Date: #{purchase.PackageId.PkgEndDate}btn-success
                    h6
                        | Quantity : #{purchase.quantity}
                    h6
                        | Unit Price: #{Package.PkgBasePrice}
                    h6
                        | Total Price: #{Package.PkgBasePrice * purchase.quantity}
                    p.card-text
                        form(action='/package/return/'+purchase._id method='get')
                            .col-sm-3
                                button.btn.btn-danger.col-3(type='submit') Delete
            p.card-text
                form(action='/package/pay/' method='get')
                    .col-sm-6
                        button.btn.btn-success.col-6(type='submit') Pay
                
