extends layout

block content
    h1= title
        
    .container
        if !purchases
            h3.bg-warning.text-center You don't have any purchases.
        else if !currentUser
            h3.bg-warning.text-center Please Login first 
        else 
            h2.bg-info Your purchases
            .row
            each purchase in purchases
                if !purchase.PackageId.PackageId 
                    return
                else 
                    .card.col-sm-6
                    img.card-img-top.mx-auto(src=purchase.PackageId.image style=" max-width:50px;")              
                    h5= purchase.PackageId.PkgName
                    h6
                        | Description: #{purchase.PackageId.PkgDesc}
                        //- | Start Date: #{purchase.PackageId.PkgStartDate}
                        //- | End Date: #{purchase.PackageId.PkgEndDate}btn-success
                    h6
                        | Traveler Count : #{purchase.TravelerCount}
                    h6
                        | Unit Price: #{purchase.PackageId.PkgBasePrice}
                    h6
                        | Total Price: #{purchase.PackageId.PkgBasePrice * purchase.TravelerCount}
                    p.card-text
                        .col-sm-3
                            a.btn.btn-danger(target='__blank' href='/package/purchasesedit/'+purchase._id) Edit
                        .col-sm-3
                            a.btn.btn-danger(target='__blank' href='/package/purchasesdelete/'+purchase._id) Delete
                    p.card-text
                        form(action='/package/payment/'+purchase._id method='get')
                            .col-sm-6
                                button.btn.btn-success.col-6(type='submit') Pay
                
