extends layout

block content
    h1= title
        
    .container
        
        h2.bg-info Your purchases
        if !purchases
            h3 You don't have any purchases.
        else if !currentUser
            h3 Login first please
        else 
            .row
            each purchase in purchases
                if !purchase.PackageId.PackageId 
                    return
                else 
                    .card.col-sm-6
                    img.card-img-top.mx-auto(src=purchase.PackageId.image style=" max-width:50px;")              
                    h5= purchase.PackageId.PkgName
                    h6
                        | Description: #{purchase.PackageId.PkgDesc}
                        //- | Start Date: #{purchase.PackageId.PkgStartDate}
                        //- | End Date: #{purchase.PackageId.PkgEndDate}btn-success
                    h6
                        | Quantity : #{purchase.quantity}
                    h6
                        | Unit Price: #{purchase.PackageId.PkgBasePrice}
                    h6
                        | Total Price: #{purchase.PackageId.PkgBasePrice * purchase.quantity}
                    p.card-text
                            //- form(action='/package/'+purchase.PackageId.PackageId method='submit')
                            .col-sm-3
                                //- button.btn.btn-danger.col-3(type='submit') Delete
                                a.btn.btn-danger(target='__blank' href='/package/purchasesdelete/'+purchase._id) Delete
            p.card-text
                form(action='/package/pay/' method='get')
                    .col-sm-6
                        button.btn.btn-success.col-6(type='submit') Pay
                
