extends layout

block content
    .bg-image.img1(style=" max-height: 300px;")
    .container
        h2 All users
            each user in users
                .big
                    article.packages.justify-content-center            
                        .row
                            .card.col-12.border-danger.bg-light.bg-gradient.border.border-primary
                                h3.text-center  #{user.fname} #{user.lname}
                                hr
                                h5.card-text
                                    | Username: #{user.username}, UserId: #{user.userId}, Role: #{user.role}
                                h5.card-text
                                    | User Address: #{user.userAddress}, #{user.userCity}, #{user.userProv},
                                    | #{user.userPostal}. #{user.userCountry}
                                h5.card-text
                                    | Home Phone: #{user.userHomePhone}, Bus Phone: #{user.userBusPhone}
                                h5.card-text
                                    | User Email: #{user.email}, Agent Id: #{user.AgentId}
                                h5.card-text
                                    a.btn.btn-info(target='__blank' href='/users/userprofile/'+ user.userId) User Profile
        a.btn.btn-primary.col-12(href='/') Home Page

